<%if("Días de licencia" in items) {%>
	<h4 style="font-weight: 300; margin-left: 10px;"> Días de licencia generados <%=items["Días de licencia"]%></h5>
<%}%>
<%var showTotal = false; %>
<%var totalTitulo = ""; %>
<%var totalValor = 0; %>
<table data-toggle="table" data-url="tables/data2.json" >
	<%for(var key in items) { %>
		<%if(items[key][1] === "total") { %>
			<% showTotal = true; %>
			<% totalTitulo = key; %>
			<% totalValor = items[key][0]; %>
		<%}%>
		<%if(items[key] === "Días de licencia" || items[key][1] === "total") {%>
			<%continue;%>
		<%}%>
 		<%if(items[key][1] === "suma") {%>
			<tr>
				<td style="padding: 10px; 30px; font-size: 140%; font-weight: 300;"> <%=key%>  </td>
				<td style="padding: 10px; 30px; font-size: 120%; font-weight: 300;">UYU <%=Math.round(items[key][0]*100)/100%> </td>
				<td style="padding: 10px; 30px;"> </td>
				<td style="padding: 10px; 30px;"> </td>
			</tr>
		<%}%>
		<%if(items[key][1] === "info") {%>
			<tr>
				<td style="padding: 10px; 30px; font-size: 140%; font-weight: 300;"> <%=key%>  </td>
				<td style="padding: 10px; 30px; font-size: 120%; font-weight: 300;"><%=items[key][0]%></td>
				<td style="padding: 10px; 30px;"> </td>
				<td style="padding: 10px; 30px;"> </td>
			</tr>
		<%}%>
		<%if(items[key][1] === "resta") {%>
			<tr>
				<td style="padding: 10px; 30px;"> </td>
				<td style="padding: 10px; 30px;"> </td>
				<td style="padding: 10px; 30px; font-size: 120%; font-weight: 300;">UYU <%=Math.round(items[key][0]*100)/100%> </td>
				<td style="padding: 10px; 30px; font-size: 140%; font-weight: 300;"> <%=key%>  </td>
			</tr>
		<%}%>
	<%}%>
	<%if(showTotal) {%>
		<tr>
			<td style="padding: 10px; 30px; font-size: 140%; font-weight: 300;"><%=totalTitulo%></td>
			<td style="padding: 10px; 30px; font-size: 120%; font-weight: 300;">UYU <%=Math.round(totalValor*100)/100%> </td>
			<td style="padding: 10px; 30px;"> </td>
			<td style="padding: 10px; 30px;"> </td>
		</tr>
	<%}%>
	
</table>
