<body class="pryct">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span>DATA</span>UY</a>
            </div>
            
            </div><!-- /.container-fluid -->
        </nav>
        <div id="sidebar-collapse" class="col-sm-3 col-lg-3 sidebar">
            <form>
            <div class="form-group" id="form-ocupacion" name="form-ocupacion">
                <span class="typeahead-query">
                    <label for="ocupacion">Ocupación</label>
                    <input class="form-control" id="ocupacion" name="ocupacion" type="search" placeholder="Buscar..." autocomplete="off">
                </span>
            </div>
            <div class="form-group" id="form-ingreso-subrubro" name="form-ingreso-rubro" style="display:none">
                 <span class="typeahead-query">
                    <label for="actividad">Actividad</label>
                    <input class="form-control" id="actividad" name="actividad" type="search" placeholder="Search" autocomplete="off">
                </span>
            </div>
            </form>
            <ul class="nav menu" data-intro='Calcula liquidaciones que te correspondan' data-step="2">
                <li class="<%=key == 'salario-líquido' ? 'active' : '' %>"><a href="/calculos/salario-líquido"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Salario líquido</a></li>
                <li class="<%=key == 'devolución-IRPF' ? 'active' : '' %>"><a href="/calculos/devolución-IRPF"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Devolución anual IRPF</a></li>
                <li class="<%=key == 'aguinaldo' ? 'active' : '' %>"><a href="/calculos/aguinaldo"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Aguinaldo</a></li>
                <li class="<%=key == 'salario-vacacional' ? 'active' : '' %>"><a href="/calculos/salario-vacacional"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Salario vacacional</a></li>
                <li class="<%=key == 'renuncia' ? 'active' : '' %>"><a href="/calculos/renuncia"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Renuncia</a></li>
                <li class="<%=key == 'despido' ? 'active' : '' %>"><a href="/calculos/despido"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Despido</a></li>
                <li class="<%=key == 'horas-extra' ? 'active' : '' %>"><a href="/calculos/horas-extra"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Horas extra</a></li>
                <li class="<%=key == 'seguro-de-paro' ? 'active' : '' %>"><a href="/calculos/seguro-de-paro"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Seguro de paro</a></li>
                <li class="licencia-mat-parent parent" id="">
                    <a href="#">
                        <span data-toggle="collapse" href="#sub-item-0" class="" id="dropdownLicMaternal"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span>Licencia maternal y paternal
                    </a>
                    <ul class="<%key == 'licencia-maternal' || key == 'leyes-relacionadas' || key == 'licencia-paternal' ? 'children collapse in' : 'children collapse'%>" id="sub-item-0">
                        <li class="<%=key == 'licencia-maternal' ? 'active' : '' %>"><a href="/calculos/licencia-maternal"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg>Licencia maternal</a></li>
                        <li class="<%=key == 'licencia-paternal' ? 'active' : '' %>"><a href="/calculos/licencia-paternal"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Licencia paternal</a></li>
                        <li class="<%=key == 'leyes-relacionadas' ? 'active' : '' %>"><a href="/calculos/leyes-relacionadas"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg>Leyes relacionadas</a></li>
                    </ul>
                </li>
                <li class="parent" id="">
                    <a href="/calculos/licencias-especiales">
                        <span data-toggle="collapse" href="#sub-item-1" class="collapsed" id="dropdownLicEspeciales"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Licencias especiales
                    </a>
                    <ul class="<%key == 'licencia-estudio' || key == 'licencia-adopción' || key == 'licencia-matrimonio' || key == 'licencia-duelo' ? 'children collapse in' : 'children collapse'%>" id="sub-item-1">
                        
                        <li class="<%=key == 'licencia-estudio' ? 'active' : '' %>"><a href="/calculos/licencia-estudio"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Licencia por estudio</a></li>
                        <li class="<%=key == 'licencia-adopción' ? 'active' : '' %>"><a href="/calculos/licencia-adopción"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Licencia por adopción</a></li>
                        <li class="<%=key == 'licencia-matrimonio' ? 'active' : '' %>"><a href="/calculos/licencia-matrimonio"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Licencia por matrimonio</a></li>
                        <li class="<%=key == 'licencia-duelo' ? 'active' : '' %>"><a href="/calculos/licencia-duelo"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Licencia por duelo</a></li>
                    </ul>
                    <li role="presentation" class="divider"></li>
                    <li><a href="login.html"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Login Page</a></li>
                </ul>
                </div><!--/.sidebar-->
                <div class="col-sm-9 col-sm-offset-4 col-lg-10 col-lg-offset-3 main" data-intro='Observa los resultados junto con estadísticas que te comparan con el resto del mercado' data-step="3" data-position="left">